<div class='user-forms'>
<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name:<br> <%= f.text_field :name %> <br>
  Email:<br> <%= f.text_field :email %> <br>
  Password:<br> <%= f.password_field :password %> <br>
  Password Confirmation:<br> <%= f.password_field :password_confirmation %> <br>
  <br><%= f.submit "Submit" %>

<% end %>
<br>
<% if flash[:error] %>
<div class="alert alert-danger"><h2><%= flash[:error] %></h2></div>
<% end %>

</div>