<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
        <br>
          <% if current_user %>
<div class="review-form">
<h3>Leave a review:</h3>
<%= form_for [@product, @review] do |f| %>
<%= f.text_field :description, class: 'form-control'  %>
Rating: 
<%= f.select :rating, options_for_select(1..5), class: 'form-control' %>
<br>
<%= submit_tag "Submit", class: 'btn btn-primary btn-sm' %>
</div>
<% end %>
<% end %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <br>
          <dt>Reviews</dt>
          <% if @product.reviews[0] %>
          <dd><h4 class="rating-top">Overall Rating: 
  <% (@product.reviews.average(:rating).to_i).times { %>
  <span class="fa fa-star checked"></span> 
  <% } %>
  <% (5 - @product.reviews.average(:rating).to_i).times { %>
  <span class="fa fa-star"></span> 
  <% } %> </span></h4>
          <% @product.reviews.reverse_each do |review| %>
            <%= render 'review', review: review, product: @product %>
          <% end %>
          <% else %>
          <dd>This product has yet to be reviewed.</dd>
          <% end %>
          
        </dl>
      </div>
    </div>

  </article>


</section>
